#mainNav {
  background-color: gray;
    height: 50px;
    margin-top: 0px;
    display: inline-block;
    width: 100%;
}

#sideNav {
   background-color: white;
    width: 200px;
    position: absolute;
    height: 100%;
	border-right:2px solid #000;
}

#mainContent {
  float: left;
    width: 84%;
    margin-left: 200px;
}
#mainNav > img {
    max-height: 48px;
}
